* {
  padding: 0;
  font-family: "Rubik", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 1em;
  margin: 2em auto;
}

.hero-section > img {
  max-width: 400px;
}

.boxes {
  /* From https://css.glass */
  background: rgba(251, 203, 12, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(251, 203, 12, 0.11);
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.input-section {
  padding: 0.5em 1em;
  border-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 80%;
  overflow: hidden;
}

input,
button {
  border-radius: 5px;
  border: none;
  padding: 0.4em;
  box-shadow: none;
}

input {
  flex-grow: 1;
}

#searchButtonElement {
  background-color: white;
  color: black;
  transition: 100ms;
}

#searchButtonElement:hover {
  cursor: pointer;
  background-color: #3269b1;
  color: white;
  transition: 100ms;
}

/*  ============================== */
pokemon-list {
  margin: 0;
  padding: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemon-name {
  border-radius: 5px;
}

.pokemon-id {
  opacity: 0.5;
}

.pokemon-type {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: space-around;
}

.pokemon-type > p {
  width: 80px;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.grass {
  background-color: #82df77;
}

.poison {
  background-color: #c6aafd;
}

/* ======================= */

footer {
  display: flex;
  flex-direction: column;
  /* padding: 80px;
  gap: 80px; */
  max-width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.support {
  width: 100%;
  max-width: 400px;
  align-self: center;
}

/* ============================= */

/* workarounds */
.ui-autocomplete {
  position: absolute;
  cursor: default;
  background-color: #f0f0f0;
  border-radius: 5px;
}

html .ui-autocomplete {
  width: 1px;
} /* without this, the menu expands to 100% in IE6 */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
}
.ui-menu .ui-menu-item {
  margin: 2px;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  border-radius: 2px;
}

.ui-menu-item:hover {
  background-color: #d4f4ff;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

.ui-helper-hidden-accessible {
  display: none;
}

footer > p > a:hover {
  color: #ffce0b;
}

@media only screen and (max-width: 380px) {
  .input-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #searchButtonElement {
    width: 60%;
  }

  #searchElement {
    text-align: center;
  }
}
